texture {
    color: white;
    texture: {ClientUI}/ui_textures/default_texture.png;
}

button {
    color: white;
    texture: {ClientUI}/ui_textures/button.png;
    text: Button Text;
    font: text;
}

textbox {
    color: white;
    texture: {ClientUI}/ui_textures/textbox.png;
    cursorTexture: {ClientUI}/ui_textures/textbox.png;
}

mouseCursor {
    texture: {ClientUI}/MouseCursor.png;
}

label {
    color: black;
    font: text;
}

.error-text {
    color: red;
    font: small_text;
}

.small-text {
    color: black;
    font: small_text;
}
