texture {
    color: white;
    texture: {ClientUI}/ui_textures/default_texture.png;
}

button {
    text-color: white;
    font: text;
    texture: {ClientUI}/ui_textures/button.png;
}

textbox {
    text-color: white;
    font: text;
    texture: {ClientUI}/ui_textures/textbox.png;
    texture1: {ClientUI}/ui_textures/button.png;
}

mouseCursor {
    texture: {ClientUI}/ui_textures/MouseCursor.png;
}

label {
    text-color: #222222;
    font: text;
}

.error-text {
    text-color: red;
    font: small_text;
}

.small-text {
    text-color: black;
    font: small_text;
}

.title-text {
    text-color: black;
    font: title;
}

.debug-text {
    text-color: #00AA00AA;
    font: text;
}

.panel-background-solid {
    color: white;
    texture: {ClientUI}/ui_textures/panel_background.png;
}

.panel-background-transparent {
    color: #FFFFFF44;
    texture: {ClientUI}/ui_textures/panel_background.png;
}

.chatbox-background {
    color: #FFFFFFAA;
    texture: {ClientUI}/ui_textures/textbox.png;
}

.chatbox-text {
    color: white;
    font: chatbox_text;
}

.chatbox-textinput {
    text-color: white;
    font: chatbox_text;
    texture: {ClientUI}/ui_textures/textbox.png;
    texture1: {ClientUI}/ui_textures/button.png;
}
