texture {
    color: white;
    texture: {ClientUI}/ui_textures/default_texture.png;
}

button {
    text-color: white;
    font: text;
    texture: {ClientUI}/ui_textures/button.png;
}

textbox {
    text-color: white;
    font: text;
    texture: {ClientUI}/ui_textures/textbox.png;
    texture1: {ClientUI}/MouseCursor.png;
}

mouseCursor {
    texture: {ClientUI}/MouseCursor.png;
}

label {
    text-color: #222222;
    font: text;
}

.error-text {
    text-color: red;
    font: small_text;
}

.small-text {
    text-color: black;
    font: small_text;
}

.title-text {
    text-color: black;
    font: title;
}

.panel-background-solid {
    color: white;
    texture: {ClientUI}/ui_textures/panel_background.png;
}
